<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My Super Secure Website</title>
</head>

<body>
      
<h1>Welcome to my definitely secure website!</h1>
<p>In this website you can test various web vulnerabilities and how to fix them!</p>
<ul>
    <li><a href="/blog">Go to the Blog page</a></li>
</ul><br>

<form action="/login" method="POST">
      <label for="uname">Username</label><br>
      <input type="text" id="uname" name="uname" required><br>
      <label for="pwd">Password</label><br>
      <input type="password" id="pwd" name="pwd" required><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
</form>

</body>
</html> 
